<h2><%= resource.title %></h2>

<div class='description'>
  <%= resource.description %>
</div>

<div class='published_on'>
  <%= t('published') %> <%= l resource.published_on, :format => :long %>
</div>
