<%= render :partial => 'admin/papers/view', :locals => { :resource => resource } %>

<div class='tabs button-group'>
  <%= link_to t('canceled'), admin_document_cancels_path(resource), :class => "button big icon remove #{is_active('cancel')}" %>
  <%= link_to t('change'), admin_document_changes_path(resource), :class => "button big icon loop #{is_active('change')}" %>
  <%= link_to t('assertation'), admin_document_assertations_path(resource), :class => "button big icon log #{is_active('assertation')}" %>
</div>
