<% if form.object.attachment?  %>
  <div style='font-size: 12px; color: #646464; margin: 0 0 15px 0'>
    Уже есть файл: <br/>
    <%= link_to form.object.attachment_file_name, form.object.attachment_url %>
  </div>
<% end %>
<%= form.input :attachment %>
