@import "compass/reset"
@import "compass/utilities"
@import "compass/css3"

html, body
  background: #fff
  font-family: Helvetica, Verdana, Arial,  sans-serif

  a
    font-family: Helvetica, Verdana, Arial,  sans-serif !important

@for $i from 1 through 5
  h#{$i}
    font-size: 28px - $i * 4
    font-weight: normal
    line-height: 32px - $i * 4

body
  margin: 0 auto
  width: 930px

  a
    color: #646464

    &:hover
      color: #2B3913

  .header
    h1
      height: 28px
      margin: 15px 0 10px 5px

  .top_navigation
    +clearfix
    background: image_url('top-menu-bg.gif') no-repeat left top
    margin: 0 0 30px 0
    padding: 6px

    li
      border-right: 1px solid #ddd
      float: left
      height: 37px

      a
        color: #646464
        display: block
        float: left
        font-weight: bold
        height: 37px
        line-height: 37px
        padding: 0 20px
        text-decoration: none

        &:hover
          background: #fdfcf6

    .documents
    .projects
    .active
      a
        background: #f0f0f0 image_url('top-menu-item-bg.gif') repeat-x left top

  .main_wrapper
    background: #eee
    padding: 5px

    .attached_file
      float: left
      font-size: 13px
      padding-right: 15px

      .label
        margin: 0 0 16px 0 !important

      a, span
        +clearfix
        color: #646464

        span
          +inline-block
          background-image: image_url('mime.png')
          background-repeat: no-repeat
          background-position: -52px 0
          height: 17px
          margin: 0 5px 0 0
          width: 16px

      .pdf
        span
          background-position: -1037px 0

      .txt
        span
          background-position: -1326px 0

      .doc
        span
          background-position: -408px 0

      .xls
        span
          background-position: -255px 0

      .png, .jpg, .jpeg, .tiff
        span
          background-position: 0 0

    .main
      background: #fff
      border: 1px solid #ddd
      padding: 15px
      width: 888px

      .formtastic
        +clearfix

        li
          +clearfix
          margin: 0 0 5px 0

          .inline-errors
            background: image_url('inline_error_arrow.png') no-repeat 2px 5px
            clear: both
            color: red
            display: block
            font-size: 11px
            height: 16px
            padding: 5px 0 0 16px

          input, select, textarea
            background: #fff image_url('input-shaddow.gif') no-repeat left top
            border: 1px solid #ddd
            color: #646464
            float: left
            font: 13px Arial, Helvetica, sans-serif
            margin: 0 7px
            padding: 5px 7px
            width: 264px

            &:hover, &:active, &:focus
              background: #fdfcf6 image_url('input-shaddow-hover.gif') no-repeat left top

          select
            width: 280px

          label
            color: #646464
            display: block
            font-size: 12px
            margin: 0 0 10px 0

        #document_kind_input, #project_kind_input, #document_number_input, #project_number_input
          float: left
          height: 70px
          width: 296px

        #document_authority_input, #project_authority_input,
          float: left
          height: 70px

          input
            width: 562px

        #document_approved_on_input, #project_published_on_input, #document_published_on_input, #project_deflected_on_input, #project_actual_on_input
          float: left
          height: 70px
          width: 150px

          input
            width: 100px

        #document_title_input, #project_title_input
          clear: both
          height: 160px

          textarea
            height: 100px
            width: 850px

        .button-group
          float: right
          margin: 0 15px

        .choose_file
          margin: 22px 0 0 0

      .new
        float: right
        margin: 0 0 20px 0

      .button-group
        margin: 0

      .paper_list
        +clearfix
        clear: both
        font-size: 16px
        line-height: 20px
        margin: 15px 0

        .odd
          background: #F6F6F6

        .even
          background: #FDFCF6

        li
          +clearfix
          padding: 10px 10px 10px 52px

          a
            display: block
            margin: 0 0 10px 0

          .description
            display: block
            color: #333
            font-size: 12px
            font-style: italic

          .published_on
            color: #333
            float: right
            font-size: 11px

      .tabs
        +clearfix
        border-top: 1px solid #ebebeb
        border-bottom: 1px solid #ebebeb
        margin: 15px auto
        padding: 15px 210px

        li
          float: left
          padding: 5px

          a
            display: block

      .document_show
        +clearfix
        color: #404040
        margin: 25px 0

        h2
          margin: 0 0 15px 0

        .description
          margin: 0 0 10px 0

        .published_on
          margin: 0 0 10px 0

      .project_state
        +clearfix
        border-top: 1px solid #aaa
        color: #404040

        h4
          font-size: 14px
          margin: 15px 0

        .inputs
          float: left

        .buttons
          margin: 23px 0 0 0

      .document_search, .project_search
        +clearfix
        margin: 25px 0 15px

        .hidden
          display: none
          margin: 0
          padding: 0

        .inputs
          float: left

        .buttons
          margin: 27px 0 0 0

        li
          margin: 0

          label
            font-size: 16px

          input
            margin: 0 7px 0 0
            width: 792px

      .search_result_block
        .add_form_button
          .inputs
            .hidden
              display: none
              margin: 0
              padding: 0

          .buttons
            margin: 5px 0

      .button
        &.edit
          float: right

  .footer
    +clearfix
    background-color: #efefef
    border-top: 1px solid #aaa
    bottom: 0
    font-size: 11px
    line-height: 14px
    margin: 30px 0 0 0
    padding: 5px 0

    .copyright
      text-align: right
      margin-right: 10px
    a
      color: #333


