<div class='actions'>
  <%= link_to t('destroy_relation'), admin_document_change_path(change.subject, change), :method => :delete, :class => 'button icon trash primary' %>
</div>
<%= render :partial => 'admin/papers/paper', :locals => { :paper => change.objekt } %>
