<%= render :partial => 'admin/documents/view', :locals => { :resource => @subject } %>

<ul>
  <% collection.each do |cancel| %>
    <li>
      <%= cancel.objekt %>
    </li>
  <% end %>
</ul>

<%= render :partial => 'admin/papers/search_form', :locals => { :klass => 'Document', :subject => @subject, :association => controller_name } %>

<div class="search_result_block">
</div>
